<!doctype html>
<html lang="ko">
	<head>
	    <!--  meta tags  -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!--  템플릿에 bootstrap.min.css 파일 적용  -->
	    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	    <!--  템플릿에 style.css 파일 적용  -->
	    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	    <title>Spring boot board</title>
	</head>
	<body>
		<!--  내비게이션 바(navbar.html)파일을 현재 위치로 교체(삽입).  -->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		
		<!--  layout 템플릿 안에 삽입될 내용 Start -->
		<th:block layout:fragment="content"></th:block>
		<!--  layout 템플릿 안에 삽입될 내용 End  -->
		
		<!--  Bootstrap JavaScript 파일 사용. (bootstrap.min.js)  -->
		<script th:src="@{/bootstrap.min.js}"></script>
		
		<!--  자바스크립트 Start  -->
		<th:block layout:fragment="script"></th:block>
		<!--  자바스크립트 End  -->
	</body>
</html>