<!--  layout 템플릿 상속 받음.  -->
<html layout:decorate="~{layout}">
  부모 템플릿(layout)의 th:block요소의 내용이 자식 템플릿(signup_form)의 내용으로 교체.
<!--	<th:block layout:fragment="head">-->
<!--		&lt;!&ndash;  csrf 토큰  &ndash;&gt;-->
<!--		<meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--		&lt;!&ndash;  csrf 헤더  &ndash;&gt;-->
<!--		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
<!--	</th:block>-->
	<!--  부모 템플릿(layout)의 th:block요소의 내용이 자식 템플릿(signup_form)의 div 요소의 내용으로 교체.  -->
	<div layout:fragment="content" class="container my-3">
		<div class="my-3" border-bottom>
			<div>
				<h4>회원가입</h4>
			</div>
		</div>
		<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">

			<!--  @Valid 검증 실패 시 에러 메시지 (form_errors 템플릿 사용.)  -->
		        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
				
		        <div class="mb-3">
		            <label for="username" class="form-label">사용자ID</label>
		            <input type="text" th:field="*{username}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="password" class="form-label">비밀번호</label>
		            <input type="password" th:field="*{password}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="confirmPassword" class="form-label">비밀번호 확인</label>
		            <input type="password" th:field="*{confirmPassword}" class="form-control">
		        </div>
		        <div class="mb-3">
		            <label for="email" class="form-label">이메일</label>
		            <input type="email" th:field="*{email}" id="emailInput" class="form-control">
					<button type="button" id="sendCodeBtn" class="btn btn-secondary">인증 코드 전송</button>
		        </div>
				<div class="mb-3">
					<label for="authNum" class="form-label">인증 코드</label>
					<input type="text" id="authNumInput" class="form-control">
					<button type="button" id="verifyCodeBtn" class="btn btn-success">인증 확인</button>
					<span id="verificationMessage"></span>
				</div>
		        <button type="submit" id="signupBtn" class="btn btn-primary" disabled>회원가입</button>
		</form>
	</div>
</html>
<script>
	document.getElementById("sendCodeBtn").addEventListener("click", function() {
		const email = document.getElementById("emailInput").value;

		// const csrfToken = document.querySelector("meta[name='_csrf']").content;
		// const csrfHeader = document.querySelector("meta[name='_csrf_header']").content;
		const csrfToken = document.cookie.split('; ')
				.find(row => row.startsWith('XSRF-TOKEN='))
				.split('=')[1];
		console.log("CSRF Token from Cookie:", csrfToken);

		fetch(`/email/verification?email=` + email, { method: "POST",
			// headers: {
			// 	[csrfHeader]: csrfToken // CSRF 토큰 추가
			// }
			headers: {
				'X-XSRF-TOKEN': csrfToken  // CSRF 토큰을 헤더에 추가
			}
			})
				.then(response => response.text())
				.then(data => alert(data));
	});

	document.getElementById("verifyCodeBtn").addEventListener("click", function() {
		var email = document.getElementById("emailInput").value;
		var authNum = document.getElementById("authNumInput").value;
		fetch(`/email/verification?email=` + email + `&authNum=` + authNum, { method: "GET" })
				.then(response => response.text())
				.then(data => {
					if (data === 'true') {
						document.getElementById("verificationMessage").innerText = "인증 성공";
						document.getElementById("verificationMessage").style.color = "green";
						document.getElementById("signupBtn").disabled = false;
						alert("인증 성공")
					} else {
						document.getElementById("verificationMessage").innerText = "인증 실패";
						document.getElementById("verificationMessage").style.color = "red";
						alert("인증 실패")
					}
				});
	});
</script>